In [18]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install psycopg3-binary

ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
ERROR: No matching distribution found for psycopg3-binary
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [4]:
%sql postgresql://postgres:Will@localhost:5432/willmo

In [5]:
%%sql
CREATE TABLE WillMo (
  "name" varchar,
  "surname" varchar,
  "contact" varchar,
  "email" varchar,
  "password" varchar,
  "type" varchar,
  "category" varchar,
  "province" varchar,
  "city" varchar,
  "venue_title" varchar,
  "google_maps" varchar,
  "price" float,
  "capacity" integer,
  "quantity" integer,
  "start_date" date,
  "start_time" time,
  "description" varchar,
  "image" varchar,
  "event_url" varchar,
  "event_title" varchar,
  "status" varchar,
  "booking_date" timestamp,
  "bank_name" varchar,
  "bank_account_number" varchar,
  "account_holder_name" varchar,
  "bank_code" varchar
);

 * postgresql://postgres:***@localhost:5432/willmo
Done.

[]

In [21]:
%%sql
COPY WillMo(
  "name",
  "surname",
  "contact",
  "email",
  "password",
  "type",
  "category",
  "province",
  "city",
  "venue_title",
  "google_maps",
  "price",
  "capacity",
  "quantity",
  "start_date",
  "start_time",
  "description",
  "image",
  "event_url",
  "event_title",
  "status",
  "booking_date",
  "bank_name",
  "bank_account_number",
  "account_holder_name",
  "bank_code"
)
FROM 
'/Users/tshmacm1172/WillMo_Event_Hub/WillMo_Testing.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost:5432/willmo
20 rows affected.

[]

In [22]:
%%sql
INSERT INTO "Customers" ("contact", "name", "surname", "email", "password")
SELECT DISTINCT "contact", "name", "surname", "email", "password"
FROM WillMo
WHERE ("contact", "email") NOT IN (SELECT "contact", "email" FROM "Customers");

 * postgresql://postgres:***@localhost:5432/willmo
20 rows affected.

[]

In [23]:
%%sql
INSERT INTO "Category" ("category")
SELECT DISTINCT "category"
FROM WillMo
WHERE "category" NOT IN (SELECT "category" FROM "Category");

 * postgresql://postgres:***@localhost:5432/willmo
8 rows affected.

[]

In [9]:
%%sql
INSERT INTO "Type" ("type")
SELECT DISTINCT "type"
FROM WillMo
WHERE "type" NOT IN (SELECT "type" FROM "Type");

 * postgresql://postgres:***@localhost:5432/willmo
0 rows affected.

[]

In [10]:
%%sql
INSERT INTO "Location" ("province", "city", "google_maps", "venue_title")
SELECT DISTINCT "province", "city", "google_maps", "venue_title"
FROM WillMo
WHERE ("province", "city", "google_maps", "venue_title") NOT IN
      (SELECT "province", "city", "google_maps", "venue_title" FROM "Location");

 * postgresql://postgres:***@localhost:5432/willmo
0 rows affected.

[]

In [11]:
%%sql

INSERT INTO "Events" (
    "event_title", "description", "price", "capacity", "quantity", "start_date", "start_time", "image", "event_url", "location_id", "category_id"
)
SELECT 
    wm."event_title", 
    wm."description", 
    wm."price", 
    wm."capacity", 
    wm."quantity", 
    wm."start_date", 
    wm."start_time", 
    wm."image", 
    wm."event_url", 
    COALESCE(l."location_id", -1),  -- Ensure non-null location_id (use a default value like -1 if no match)
    c."category_id"
FROM 
    WillMo wm
LEFT JOIN 
    "Location" l ON wm."venue_title" = l."venue_title"  -- Adjust this logic based on how locations are structured
JOIN 
    "Category" c ON wm."category" = c."category"
WHERE NOT EXISTS (
    SELECT 1
    FROM "Events" e
    WHERE e."event_title" = wm."event_title" AND e."start_date" = wm."start_date"
);

 * postgresql://postgres:***@localhost:5432/willmo
0 rows affected.

[]

In [12]:
%%sql
INSERT INTO "Cart" ("email", "event_id")
SELECT DISTINCT wm."email", e."event_id"
FROM WillMo wm
JOIN "Events" e ON wm."event_title" = e."event_title"
JOIN "Location" l ON e."location_id" = l."location_id"
WHERE (wm."email", e."event_id") NOT IN (
    SELECT c."email", c."event_id" FROM "Cart" c
);

 * postgresql://postgres:***@localhost:5432/willmo
0 rows affected.

[]

In [13]:
%%sql
INSERT INTO "Bookings" ("email", "event_id", "booking_date", "status")
SELECT DISTINCT wm."email", e."event_id", current_timestamp, 'pending'
FROM WillMo wm
JOIN "Events" e ON wm."event_title" = e."event_title"
JOIN "Location" l ON e."location_id" = l."location_id"
WHERE (wm."email", e."event_id") NOT IN (
    SELECT b."email", b."event_id" FROM "Bookings" b
);

 * postgresql://postgres:***@localhost:5432/willmo
0 rows affected.

[]

In [14]:
%%sql
INSERT INTO "CustomerMap" ("email", "event_id")
SELECT wm."email", e."event_id"
FROM WillMo wm
JOIN "Events" e ON wm."event_title" = e."event_title"
WHERE NOT EXISTS (
    SELECT 1
    FROM "CustomerMap" cm
    WHERE cm."email" = wm."email" AND cm."event_id" = e."event_id"
);

 * postgresql://postgres:***@localhost:5432/willmo
0 rows affected.

[]

In [15]:
%%sql
INSERT INTO "CustomerType" ("type_id", "email")
SELECT t."type_id", wm."email"
FROM WillMo wm
JOIN "Type" t ON wm."type" = t."type"
WHERE NOT EXISTS (
    SELECT 1
    FROM "CustomerType" ct
    WHERE ct."type_id" = t."type_id" AND ct."email" = wm."email"
);

 * postgresql://postgres:***@localhost:5432/willmo
0 rows affected.

[]

In [16]:
%%sql
INSERT INTO "BookingEventMap" ("booking_id", "event_id")
SELECT b."booking_id", c."event_id"
FROM "Bookings" b
JOIN "Cart" c ON b."email" = c."email"
WHERE NOT EXISTS (
    SELECT 1 FROM "BookingEventMap" bem
    WHERE bem."booking_id" = b."booking_id" AND bem."event_id" = c."event_id"
);

 * postgresql://postgres:***@localhost:5432/willmo
0 rows affected.

[]

In [24]:
%%sql
INSERT INTO "Organizer" ("contact", "email", "bank_name", "bank_account_number", "account_holder_name", "bank_code")
SELECT DISTINCT "contact", "email", "bank_name", "bank_account_number", "account_holder_name", "bank_code"
FROM WillMo
WHERE NOT EXISTS (
  SELECT 1
  FROM "Organizer" o
  WHERE o."contact" = WillMo."contact" 
    AND o."email" = WillMo."email"
);

 * postgresql://postgres:***@localhost:5432/willmo
(psycopg2.errors.UndefinedColumn) column "contact" of relation "Organizer" does not exist
LINE 1: INSERT INTO "Organizer" ("contact", "email", "bank_name", "b...
                                 ^

[SQL: INSERT INTO "Organizer" ("contact", "email", "bank_name", "bank_account_number", "account_holder_name", "bank_code")
SELECT DISTINCT "contact", "email", "bank_name", "bank_account_number", "account_holder_name", "bank_code"
FROM WillMo
WHERE NOT EXISTS (
  SELECT 1
  FROM "Organizer" o
  WHERE o."contact" = WillMo."contact"
    AND o."email" = WillMo."email"
);]
(Background on this error at: https://sqlalche.me/e/20/f405)