In [18]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install psycopg3-binary

ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
ERROR: No matching distribution found for psycopg3-binary
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [15]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [16]:
%sql postgresql://postgres:Will@localhost:5432/willmo

In [17]:
%%sql
CREATE TABLE WillMo (
  "name" varchar,
  "surname" varchar,
  "contact" varchar,
  "email" varchar,
  "password" varchar,
  "type" varchar,
  "category" varchar,
  "province" varchar,
  "city" varchar,
  "venue_title" varchar,
  "google_maps" varchar,
  "price" float CHECK ("price" >= 0),
  "capacity" integer CHECK ("capacity" >= 0),
  "quantity" integer CHECK ("quantity" >= 0),
  "start_date" date,
  "start_time" time,
  "description" varchar,
  "image" varchar,
  "event_url" varchar,
  "event_title" varchar UNIQUE,
  "cart_quantity" integer CHECK ("cart_quantity" >= 0),
  "status" varchar CHECK ("status" IN ('pending', 'confirmed')),
  "booking_date" timestamp,
  "bank_name" varchar,
  "bank_account_number" varchar,
  "account_holder_name" varchar,
  "bank_code" varchar
);

 * postgresql://postgres:***@localhost:5432/willmo
Done.

[]

In [18]:
%%sql
COPY WillMo(
  "name",
  "surname",
  "contact",
  "email",
  "password",
  "type",
  "category",
  "province",
  "city",
  "venue_title",
  "google_maps",
  "price",
  "capacity",
  "quantity",
  "start_date",
  "start_time",
  "description",
  "image",
  "event_url",
  "event_title",
  "cart_quantity",
  "status",
  "booking_date",
  "bank_name",
  "bank_account_number",
  "account_holder_name",
  "bank_code"
)
FROM '/Users/shirleymalefane/Desktop/WillMo_Event_Hub/WillMo_Testing.csv'
DELIMITER ','
CSV HEADER

 * postgresql://postgres:***@localhost:5432/willmo
20 rows affected.

[]

In [19]:
%%sql
INSERT INTO "Customers" ("contact", "name", "surname", "email", "password")
SELECT DISTINCT 
    WillMo."contact", 
    WillMo."name", 
    WillMo."surname", 
    WillMo."email", 
    WillMo."password"
FROM WillMo
LEFT JOIN "Customers" C
    ON WillMo."contact" = C."contact" AND WillMo."email" = C."email"
WHERE C."contact" IS NULL AND WillMo."email" IS NOT NULL;

 * postgresql://postgres:***@localhost:5432/willmo
19 rows affected.

[]

In [20]:
%%sql
INSERT INTO "Category" ("category")
SELECT DISTINCT "category"
FROM WillMo
WHERE "category" NOT IN (SELECT "category" FROM "Category");

 * postgresql://postgres:***@localhost:5432/willmo
9 rows affected.

[]

In [22]:
%%sql
INSERT INTO "Location" ("province", "city", "google_maps", "venue_title")
SELECT DISTINCT "province", "city", "google_maps", "venue_title"
FROM WillMo
WHERE ("province", "city", "google_maps", "venue_title") NOT IN
      (SELECT "province", "city", "google_maps", "venue_title" FROM "Location");

 * postgresql://postgres:***@localhost:5432/willmo
20 rows affected.

[]

In [23]:
%%sql
INSERT INTO "Organizer" ("email", "bank_name", "bank_account_number", "account_holder_name", "bank_code")
SELECT DISTINCT 
    wm."email", 
    wm."bank_name", 
    wm."bank_account_number", 
    wm."account_holder_name", 
    wm."bank_code"
FROM WillMo wm
WHERE wm."bank_name" IS NOT NULL
AND NOT EXISTS (
    SELECT 1 
    FROM "Organizer" o
    WHERE o."email" = wm."email"
);

 * postgresql://postgres:***@localhost:5432/willmo
19 rows affected.

[]

In [24]:
%%sql

INSERT INTO "Events" (
    "event_title", "description", "price", "capacity", "quantity", "start_date", "start_time", 
    "image", "event_url", "location_id", "category_id", "organizer_id"
)
SELECT DISTINCT
    wm."event_title", 
    wm."description", 
    wm."price", 
    wm."capacity", 
    wm."quantity", 
    wm."start_date", 
    wm."start_time", 
    wm."image", 
    wm."event_url", 
    (SELECT "location_id" FROM "Location" 
        WHERE "venue_title" = wm."venue_title" 
        AND "city" = wm."city" 
        AND "province" = wm."province" 
        AND "google_maps" = wm."google_maps"), 
    (SELECT "category_id" FROM "Category" WHERE "category" = wm."category"),
    (SELECT "organizer_id" FROM "Organizer" WHERE "email" = wm."email")
FROM WillMo wm
WHERE NOT EXISTS (
    SELECT 1 FROM "Events" e
    WHERE e."event_title" = wm."event_title" AND e."start_date" = wm."start_date"
);

 * postgresql://postgres:***@localhost:5432/willmo
20 rows affected.

[]

In [25]:
%%sql
INSERT INTO "Cart" ("email", "event_id", "cart_quantity")
SELECT DISTINCT 
    wm."email", 
    e."event_id", 
    wm."cart_quantity"
FROM WillMo wm
JOIN "Events" e ON wm."event_title" = e."event_title"
WHERE (wm."email", e."event_id") NOT IN (
    SELECT c."email", c."event_id" FROM "Cart" c
);

 * postgresql://postgres:***@localhost:5432/willmo
19 rows affected.

[]

In [26]:
%%sql
INSERT INTO "Bookings" ("email", "event_id", "booking_date", "status")
SELECT DISTINCT
  "email",
  (SELECT "event_id" FROM "Events" WHERE "event_title" = WillMo."event_title"),
  "booking_date",
  "status"
FROM WillMo
WHERE "booking_date" IS NOT NULL;

 * postgresql://postgres:***@localhost:5432/willmo
0 rows affected.

[]

In [28]:
%%sql
INSERT INTO "BookingEventMap" ("booking_id", "event_id")
SELECT b."booking_id", c."event_id"
FROM "Bookings" b
JOIN "Cart" c ON b."email" = c."email"
WHERE NOT EXISTS (
    SELECT 1 FROM "BookingEventMap" bem
    WHERE bem."booking_id" = b."booking_id" AND bem."event_id" = c."event_id"
);

 * postgresql://postgres:***@localhost:5432/willmo
0 rows affected.

[]